body {
    display: flex;
    align-items: center;
}

button {
    margin: auto;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 20px);
    margin: 100px auto;
}

.grid-element {
    border: black solid 1px;
    width: 20px;
    height: 20px;
}

.etched {
    background-color: black;
}

.reset {
    background-color: white;
}